# همه‌چیز پیش‌فرض ignore
*

# ─── فقط اینا برن گیت ───

!/pubspec.yaml


!/lib/
!/lib/**

!/windows/
!/windows/**
/windows/flutter/ephemeral/
/windows/runner/Debug/
/windows/runner/Release/
/windows/runner/profile/

!/test/
!/test/**

!/assets/
!/assets/**